.ui-autocomplete {
    position: absolute;
    border: 1px solid gray;
    height: 300px;
    padding: 0;
}
.ui-autocomplete ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ui-autocomplete li {
    margin: 0;
    padding-left: 10px;
}
.ui-autocomplete-active {
    background: tomato;
}
.ui-autocomplete li:hover {
    background: tomato;
}


